In [1]:
# Multiplication
4 * 3

12

In [3]:
# Division
3/2

1.5

In [4]:
# Floor division
7//4

1

Floor division uses two forward slashes and truncates the result from the decimal point forward, returns an int

In [5]:
# Modulo
7%4

3

In [6]:
# Exponents
2**3

8

In [7]:
9**0.5

3.0

In [8]:
a = 5

In [9]:
a

5

In [10]:
a = ['dog', 'cat']

In [11]:
a

['dog', 'cat']

python supports dynamic typing, which means you can reassign variables to different data types

In [12]:
type(a)

list

In [13]:
a = (1,2)

In [14]:
a

(1, 2)

Strings in python are actually recognized as sequences, made up of each character that makes up the word

In [15]:
'This a string'

'This a string'

In [16]:
len('The length of this String:')

26

In [17]:
"This string's stuff contains a single quote"

"This string's stuff contains a single quote"

In [18]:
s = 'Hello'

In [19]:
s[1]

'e'

Strings being recognized as a sequence helps to access specific characters that make up the string

In [20]:
s[1:]

'ello'

In [21]:
s[:]

'Hello'

In [22]:
s[0:3]

'Hel'

In [23]:
s[1:4]

'ell'

In [24]:
s[:-1]

'Hell'

In [25]:
s[::1]

'Hello'

In [26]:
s[::2]

'Hlo'

In [27]:
s[::-1]

'olleH'

In [28]:
s.upper()

'HELLO'

In [30]:
s.lower()

'hello'

In [66]:
s = 'Hello'

In [37]:
s

'Hello'

In [67]:
s

'Hello'

In [68]:
s = s + ' concatenate me'

In [69]:
s

'Hello concatenate me'

In [70]:
s.split()

['Hello', 'concatenate', 'me']

In [71]:
s.split('t')

['Hello conca', 'ena', 'e me']

In [72]:
import sys

In [73]:
sys.platform

'darwin'

In [74]:
sys.version

'3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 12:04:33) \n[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]'

In [75]:
new_list = ['one', 'two', 'three', 'four', 'five']

In [76]:
new_list.append('six')

In [77]:
new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [79]:
new_list.pop()

'six'

In [80]:
new_list

['one', 'two', 'three', 'four', 'five']

The pop() function returns the element that was just removed

In [81]:
new_list.pop(0)

'one'

In [82]:
new_list

['two', 'three', 'four', 'five']

In [83]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 8, 3]

In [84]:
new_list.sort()

In [85]:
new_list

['a', 'b', 'c', 'e', 'x']

In [86]:
sorted_num_list = num_list.sort()

In [87]:
type(sorted_num_list)

NoneType

Keep in mind that the sort() function doesn't actually return anything, so it can't be directly assigned like above

You will have to sort the list then assign it in two separate steps

In [88]:
new_list.reverse()

In [89]:
new_list

['x', 'e', 'c', 'b', 'a']

Dictionaries:

In [90]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [91]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [92]:
my_dict['key2']

'value2'

In [9]:
prices_lookup = {'apple':1.99, 'orange':2.99, 'peach':3.99}

In [10]:
prices_lookup['orange']

2.99

In [11]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'insidekey':100}}

In [14]:
d['k2'][2]

2

In [13]:
d['k3']['insidekey']

100

In [15]:
d = {'k1':100, 'k2':200}

In [16]:
d

{'k1': 100, 'k2': 200}

In [17]:
d['k3'] = 300

In [18]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

Just like on line 17, you can assign a new key to a dictionary afterwards

In [19]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [20]:
d.values()

dict_values([100, 200, 300])

In [21]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

The items() function returns key/value pairs as a tuple

Tuples:

In [22]:
t = (1, 2, 3)

In [23]:
type(t)

tuple

In [24]:
len(t)

3

In [25]:
t = ('one', 2)

In [26]:
t[0]

'one'

In [27]:
t[-1]

2

In [28]:
# Count number of occurenes of an element within a tuple
t = ('a', 'a', 'b', 'c', 'b')
t.count('a')

2

In [29]:
# Returns first occurence index of specified element
t.index('b')

2

The key difference between lists and tuples is that tuples are immutable

Tuples mostly used for when you are passing around data in your program that you don't want to be changed

Sets:

Sets are unordered collections of unique objects, meaning there can only be 1 representative of the same object

In [30]:
myset = set()

In [31]:
myset

set()

In [32]:
mylist = ['a', 'a', 'b', 'c', 'b']

In [33]:
# Check membership using in or not in keywords
'c' in mylist

True

In [34]:
'z' not in mylist

True

In [36]:
# get the index along with each list element
for index, item in enumerate(mylist):
    print (index, item)

0 a
1 a
2 b
3 c
4 b

In [38]:
# Using min and max functions in sequences:
x = 'bug'
min(x)

'b'

In [39]:
y = ['dog', 'cat', 'mouse']
max(y)

'mouse'

In [40]:
sorted(y)

['cat', 'dog', 'mouse']

The sorted() function returns a sorted version of a sequence without changing the original sequence

In [41]:
sorted(mylist)

['a', 'a', 'b', 'b', 'c']

In [42]:
mylist

['a', 'a', 'b', 'c', 'b']

In [43]:
# Assigning elements of a list to independent variables:
a, b, c = y

In [44]:
a

'dog'

In [45]:
b

'cat'

In [46]:
c

'mouse'

In [47]:
# What happens when you assign more variables than available elements:
w, a, s, d = y

ValueError: not enough values to unpack (expected 4, got 3)

Short revisit to tuples:

In [54]:
# Creating an empty tuple:
t1 = ()
t1

()

In [52]:
# Assigning a tuple directly
t2 = (1, 2, 3)
t2

(1, 2, 3)

In [53]:
# PARENTHESES ARE OPTIONAL WITH TUPLES:
t3 = 1, 2, 3
t3

(1, 2, 3)

In [57]:
# Creating a tuple with only a single item without parentheses (single-item tuple):
t4 = 7,
t4, type(t4)

((7,), tuple)

In [58]:
# Creating a tuple by casting a list:
t5 = tuple(y)
t5

('dog', 'cat', 'mouse')

In [1]:
myset = set()

In [2]:
myset

set()

In [4]:
myset.add(1)
myset

{1}

In [5]:
myset.add(2)
myset

{1, 2}

In [7]:
myset.add(2)
myset

{1, 2}

When you add the same element multiple times to a set, nothing changes if it is already in the set